@font-face {
  font-family: 'lims-fontello';
  src: url('lims-fontello.eot?91934006');
  src: url('lims-fontello.eot?91934006#iefix') format('embedded-opentype'),
       url('lims-fontello.woff?91934006') format('woff'),
       url('lims-fontello.ttf?91934006') format('truetype'),
       url('lims-fontello.svg?91934006#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

span.icon-calibrations:before {
  font-family: "lims-fontello";
  content: '\e801';
} 
span.icon-certifications:before {
  font-family: "lims-fontello";
  content: '\e803';
} 
span.icon-controlpanel-lims_instruments:before {
  font-family: "lims-fontello";
  content: '\f2c7';
} 
span.icon-controlpanel-lims_suppliers:before {
  font-family: "lims-fontello";
  content: '\e840';
} 
